body{
    background-color: black;
    background-image: url("../img/fundo-churrasco-1.jpg");
    background-size: cover ;
    
}
.container{
    background-color: gray;
    width: 80vw;
    margin: auto;
    padding: 30px;
    background-image: url("../img/tabua-carne.jpg");
    border-radius: 10px;
    background-size: cover ;
    color: white;
}
.container:hover{
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.466);
}
input{
    display: block;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0px;
    width: 100%;
}
button{
    border-radius: 10px;
    padding: 8px;
    border: 1px solid aqua;
    background-color: transparent;
    color: white;
}
button:hover{
    background-color: rgba(0, 255, 255, 0.575);
    border: 1px solid black;
    color: black;
    transition: background 1s;
}

@media(max-width: 1000pc){
    .container{
        width: 60%;
    }
}